* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #06132f;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: #949494;
}

header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 90%;
    margin: auto;
}

input {
    height: 120px;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%;
}

button.add {
    width: 20%;
    cursor: pointer;
    background: green;
    color: white;
    font-weight: bold;
    border: none;
    height: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

main {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto;
    padding-top: 40px;
}

.item {
    display: flex;
    align-items: center;
    background: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 2%;
}

.item.clicado {
    background: #d4f6d9;
}

/* ✅ Só o texto da tarefa */
.item.clicado .item-nome {
    text-decoration: line-through;
    color: gray;
}

/* ✅ Só o ícone de check */
.item.clicado .item-icone .material-symbols-outlined {
    color: green;
}

.item-icone {
    flex: 20%;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}

.item-nome {
    flex: 55%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.item-botao {
    flex: 25%;
}

/* ❌ botão delete não herda verde */
.delete {
    background: red;
    color: white;
    border: none;
    padding: 10px;
    height: 80px;
    width: 100%;
    cursor: pointer;
}
